{% extends "base.html" %}

{% block content %}
<h3>Meet MISIS</h3> - платформа для нахождения людей.
<div class="d-flex flex-row flex-wrap">
    {% for user in recommend_users %}
    <div class="card m-1">
        <div class="mt-1">
            <img style="max-height: 150px;" src="../static/profile.svg"/>
        </div>
        <div class="m-3">
            <h3>{{ user.username }}</h3>
            <a class="btn btn-sm bg-primary mt-2" href="{{ url_for('main.profile', username=user.username)}}">Профиль</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}