{% extends "base.html" %}

{% block content %}
<div class="col-lg-5 ms-auto me-auto">
    <h3 class="">Регистрация</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
        <div class="mb-1">
            <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
        </div>
        <div class="mb-1">
            <input class="form-control" type="text" name="username" placeholder="Имя пользователя" autofocus="">
        </div>
        <div class="mb-1">
            <input class="form-control" type="text" name="name" placeholder="Имя" autofocus="">
        </div>

        <div class="mb-1">
            <input class="form-control" type="password" name="password" placeholder="пароль">
        </div>

        <button class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}